@page
@model christmasinbelfast.Pages.CancelModel

<h2 style="text-align: center">Checkout Cancelled</h2>

<b>Forgot something?</b>
<p>We appriciate your Custom.
    <br/>
    Shop around and we will be here when you get back.
</p>